DEBUG=True
SECRET_KEY=foobar
DB_NAME=terra
DB_USER=root
DB_PASSWORD=
DB_PORT=
MAILGUN_SENDER_DOMAIN=sandboxc080f6d4f236492d9ba4cadfb33f1e32.mailgun.org
MAILGUN_API_KEY=key-bf64da960f1fba4e6362f9c2f8d1a597
DEFAULT_FROM_EMAIL=terra@sandboxc080f6d4f236492d9ba4cadfb33f1e32.mailgun.org
