DEBUG=1
ALLOWED_HOSTS=.dymaxionlabs.com
SECRET_KEY=foobar

DB_HOST=localhost
DB_NAME=terra
DB_USER=root
DB_PASSWORD=
DB_PORT=

MAILGUN_SENDER_DOMAIN=sandboxc080f6d4f236492d9ba4cadfb33f1e32.mailgun.org
MAILGUN_API_KEY=key-bf64da960f1fba4e6362f9c2f8d1a597
DEFAULT_FROM_EMAIL=terra@sandboxc080f6d4f236492d9ba4cadfb33f1e32.mailgun.org

WEBCLIENT_URL=http://localhost:3000

TILES_BUCKET=dym-tiles
FILES_BUCKET=dym-files

RQ_REDIS_URL=redis://localhost:6379/0
RQ_TIMEOUT=360

SENTRY_DNS=
SENTRY_ENVIRONMENT=Development

MERCADOPAGO_SECRETS=.mercadopago.json

MAILCHIMP_APIKEY=19cd63689822938d28991f0908694e0f-us20
MAILCHIMP_USER=federicobayle
