[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
"psycopg2-binary" = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.6"
