DEBUG=1
ALLOWED_HOSTS=.dymaxionlabs.com
SECRET_KEY=foobar

DB_HOST=localhost
DB_NAME=terra
DB_USER=root
DB_PASSWORD=foobar
DB_PORT=

MAILGUN_SENDER_DOMAIN=sandboxc080f6d4f236492d9ba4cadfb33f1e32.mailgun.org
MAILGUN_API_KEY=key-bf64da960f1fba4e6362f9c2f8d1a597
DEFAULT_FROM_EMAIL=terra@sandboxc080f6d4f236492d9ba4cadfb33f1e32.mailgun.org

WEBCLIENT_URL=http://localhost:3000

TILES_BUCKET=dym-tiles
FILES_BUCKET=dym-files
ESTIMATORS_BUCKET=dym-estimators
TASK_ARTIFACTS_BUCKET=dym-task-artifacts
MODELS_BUCKET=dym-models

RQ_REDIS_URL=redis://localhost:6379/0
RQ_TIMEOUT=360

SENTRY_DNS=
SENTRY_TRACES_SR=1.0
SENTRY_ENVIRONMENT=Development

MERCADOPAGO_SECRETS=.mercadopago.json

MAILCHIMP_APIKEY=
MAILCHIMP_USER=

GOOGLE_SDK_BIN_PATH=$HOME/google-cloud-sdk/bin
GOOGLE_APPLICATION_CREDENTIALS=.google_client_secret.json

SLACK_HOOK_URL=

# Secret API key ("publishable" is used on Aqua)
STRIPE_API_KEY=

TITILER_URL=localhost:7500

LF_SERVER_URL=https://lab.dymax.app
LF_USERNAME=
LF_PASSWORD=
