[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.5"
djangorestframework = "==3.11"
python-dotenv = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
"psycopg2-binary" = "*"
gunicorn = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-gis = "*"
django-jsoneditor = "*"
django-guardian = "*"
django-storages = {extras = ["google"], version = "*"}
sentry-sdk = "==0.12.3"
honcho = "*"
rasterio = "*"
shapely = "*"
rq = "*"
django-rq = "*"
pyproj = "*"
mailchimp3 = "*"
scikit-image = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-cloud-pubsub = "*"
djangorestframework-api-key = "*"
filetype = "*"
fiona = "*"
google-cloud-storage = "*"
google-resumable-media = "*"
google-cloud-bigquery = "*"
django-cron = "*"
stripe = "*"

[dev-packages]
yapf = "*"
pylint = "*"
ipython = "*"
pre-commit = "*"
rope = "*"
isort = "*"

[requires]
python_version = "3"
