[Unit]
Description=Terra Jobs subscriber
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=true
Environment=SENTRY_DNS=https://2dd8f13e32504a0ca9ac927ec6adbcba@sentry.io/1412965
User=ubuntu
Group=ubuntu
SyslogIdentifier=terra-jobs-subscriber
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/ubuntu/dymaxionlabs-platform/terra
ExecStart=/bin/bash -c '/home/ubuntu/.local/share/virtualenvs/terra-O5su8kSy/bin/python /home/ubuntu/dymaxionlabs-platform/terra/completed_job_subscriber.py'

[Install]
WantedBy=multi-user.target
