# Publishable API key
NEXT_PUBLIC_STRIPE_API_KEY=pk_test_51GvnHlJbe4J7GDndRs5UK3Mu5xOYGsBwwp6wi98JL6Y4C39OizshWMhU9J63K161FUlAgQyEKYkxMksgIjv7cuS700IOCcGkHp
NEXT_PUBLIC_TILER_URL=http://localhost:7500
